.Tooth {
    display: flex;
    width: 48px;
    padding: 4px;
    margin: 8px;
    & span {
        font-size: 1.4em;
        text-align: center;
    }
}

.Tooth_seleted {
    border-color: #2620df;
    border-style: solid;
    border-radius: 8px;
}

.Tooth_up {
    flex-direction: column;
}

.Tooth_down {
    flex-direction: column-reverse;
}