.Tooth {
    display: flex;
    width: 48px;
    padding-top: 4px;
    padding-bottom: 4px;
    & span {
        font-size: 1.4em;
        text-align: center;
    }
}

.Tooth_up {
    flex-direction: column;
}

.Tooth_down {
    flex-direction: column-reverse;
}